{% extends "base.html" %}

{% block content %}
    <h1>My orders</h1>

    {% if order_list %}
    <ul>

      {% for order in order_list %}
      <img src="{{order.owner_car.picture.url}}" width="300" height="250">
      <li class="{% if order.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'my-order' order.pk %}">{{order.owner_car.car}}</a> ({{ order.due_date }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>You don't have any orders or the order is already complete, or still in draft.</p>
    {% endif %}       
{% endblock %}